results/*
results/**
results/***
data/*
data/**
data/***
.snakemake/*
snakemake/*
snakemake/**
resources/*
resources/**
resources/***
tmp_rf_full_concat/**
*.pdf
.github/**
.vscode/***
.vscode/*
.vscode/**
__pycache__/
*.pyc
Sequence_1
seq.aac
seq.dpc
